:root{
    --primary: #222831;
    --secondary: #393E46;
    --text: #EEEEEE;
    --detail: #00ADB5;
    --highlight:#00f4ff;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--secondary);
}

.MuiList-root{
    background-color: var(--secondary) ;
    color: var(--text)
}

/*Fix for carousel icon hover opacity*/
.css-hn784z:hover .MuiButtonBase-root{
    opacity: 1 !important;
}
.css-1abc02a:hover .MuiButtonBase-root{
    opacity: 1 !important;
}


/*Menu white halo on round corners fix*/
.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper{
    background-color: var(--secondary) !important;
}